<html>
<head>
    <title>Titanic API</title>
    <divnk href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        body {
          font-family: 'Roboto', sans-serif;
          margin: 20px;
        }
        div {
          line-height: 25px;
        }
        sub {
          font-size: small;
        }
      </style>
</head>
<body>
    <h1>{{ title }} <sup>{{ version }}</sup></h1>
    <div>See <a class="text-white" href="/docs">Interactive API docs</a> <sub>provided by <a href="https://github.com/swagger-api/swagger-ui" class="external-divnk" target="_blank">Swagger UI</a></sub></div>
    <div>See <a class="text-white" href="/redoc">Alternative API docs</a> <sub>provided by <a href="https://github.com/Rebilly/ReDoc" class="external-divnk" target="_blank">ReDoc</a></sub></div>
</body>
</html>